body, ul , li
{
  margin: 0;
  padding: 0;
  font-family: 'Cardo', serif;
}
a
{
    text-decoration: none;
    color: black;
}
img {
	max-width: 100%;
	height: auto;
	margin: 0 0 10px 0;
}
.header
{
  margin: 0;
  padding: 2%;
  background-color: #E9E9E9;
  width: auto;
}

.inner
{
  max-width: 1100px;
  margin: auto;
}

.nav
{
  background-color: #DDDDDD;
  margin: 0;
  font-size: 110%;
}

 ul > li
{
  list-style: none;
  float:left;
  padding: 10px 30px;
}

.content
{
  padding: 50px 10%;
	background-color: #FFF;
}

.content-one
{
  width: 30%;
	float: left;
	margin-right: 3%;
  text-align: justify;
}

.down-column
{
  margin: 0;
}

.left-column
{
  width: 70%;
  text-align: justify;
  margin-right: 50px;
  float: left;
}

.right-columns
{
  float: left;
  width: 22%;
  padding-top: 2%;
}


.info-box-a
{
  font-size: 13px;
  background-color: #9bdaef;
  max-width: 100% auto;

}

.info-box-b
{

  font-size: 13px;
  background-color: #efdb7f;

}

.footer
{
   text-align: center;
   padding: 10px;
   background-color: #A9A9A9;
   color: white;
}
